pkgbase = slstatus-jd-git
	pkgdesc = A status monitor for window managers - custom build
	pkgver = 1.0.r12.64427e5
	pkgrel = 1
	url = https://github.com/jdujava/slstatus-jd
	arch = i686
	arch = x86_64
	license = ISC
	makedepends = git
	makedepends = make
	depends = sh
	depends = glibc
	depends = libx11
	depends = libmpdclient
	depends = alsa-lib
	optdepends = pamixer: volume indicator
	optdepends = dunst: notification indicator
	provides = slstatus
	conflicts = slstatus
	source = slstatus-jd::git+https://github.com/jdujava/slstatus-jd
	sha256sums = SKIP

pkgname = slstatus-jd-git
