pkgbase = fmenu-git
	pkgdesc = A fuzzy-selection dynamic menu and related scripts
	pkgver = r12.30e24dc
	pkgrel = 1
	url = https://github.com/jdujava/fmenu
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = make
	depends = sh
	depends = fzf
	depends = dmenu
	depends = xsel
	optdepends = xdotool: for typing out selection to the terminal
	optdepends = xdg-utils: for xdg-mime used in fzfopen
	optdepends = gtk3: for gtk-launch used in fzfopen
	optdepends = libnotify: for notify-send used in fzfopen
	optdepends = dunst: for notify-send used in fzfopen
	optdepends = man-db: for creating manpage index database used in mfzf
	optdepends = pass: password manager used in passfmenu
	optdepends = xclip: clipboard support for pass in passfmenu
	optdepends = clipmenu: for clipboard history accessed by clipfmenu
	optdepends = sdcv: utility for dictionaries used in fdict
	optdepends = translate-shell: interface for translations used in fdict
	provides = fmenu
	conflicts = fmenu
	source = fmenu::git+https://github.com/jdujava/fmenu
	sha256sums = SKIP

pkgname = fmenu-git
