pkgbase = dwm-jd-git
	pkgdesc = A dynamic window manager for X - custom build
	pkgver = 6.4.r44.dfbf75a
	pkgrel = 1
	url = https://github.com/jdujava/dwm-jd
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = MIT
	makedepends = git
	depends = sh
	depends = glibc
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	depends = fontconfig
	depends = libxcb
	optdepends = dunst: notifications in dunstdate script
	optdepends = slstatus: customizable status bar
	provides = dwm
	conflicts = dwm
	source = dwm-jd::git+https://github.com/jdujava/dwm-jd
	sha256sums = SKIP

pkgname = dwm-jd-git
