pkgbase = base-jdujava
	pkgdesc = Base package set of my custom Arch Linux installation
	pkgver = 1
	pkgrel = 8
	url = https://github.com/jdujava/AUR-jdujava
	arch = any
	license = GPL
	depends = paru-bin
	depends = expac
	depends = pacman-contrib
	depends = cmake
	depends = ninja
	depends = meson
	depends = booster
	depends = efibootmgr
	depends = systemd-boot-pacman-hook
	depends = linux-firmware
	depends = intel-ucode
	depends = xf86-video-intel
	depends = intel-media-driver
	depends = xf86-input-wacom
	depends = tlp
	depends = throttled
	depends = iwd
	depends = ppp
	depends = networkmanager
	depends = network-manager-applet
	depends = xorg-server
	depends = xorg-xinit
	depends = xdg-utils
	depends = xorg-xinput
	depends = xorg-xrandr
	depends = xorg-xset
	depends = xorg-xdpyinfo
	depends = xorg-xwininfo
	depends = dwm-jd-git
	depends = sxhkd
	depends = slstatus-jd-git
	depends = slock
	depends = xwallpaper
	depends = picom-git
	depends = brightnessctl
	depends = unclutter
	depends = dunst
	depends = libnotify
	depends = xpub
	depends = st-jd-git
	depends = zsh
	depends = dash
	depends = dashbinsh
	depends = ttf-sourcecodepro-nerd
	depends = ttf-dejavu
	depends = ttf-roboto
	depends = ttf-font-awesome
	depends = ttf-joypixels
	depends = catppuccin-gtk-theme-frappe
	depends = papirus-icon-theme
	depends = neovim-nightly-bin
	depends = python-pynvim
	depends = npm
	depends = lf-git
	depends = rsync
	depends = dragon-drop-git
	depends = atool
	depends = zip
	depends = unzip
	depends = unrar
	depends = perl-file-mimeinfo
	depends = renameutils
	depends = ueberzug
	depends = ffmpegthumbnailer
	depends = imagemagick
	depends = mediainfo
	depends = pass
	depends = gnome-keyring
	depends = git
	depends = lazygit-git
	depends = git-delta
	depends = fzf
	depends = ripgrep
	depends = fd
	depends = bat
	depends = xdotool
	depends = xclip
	depends = xsel
	depends = clipmenu
	depends = htop-vim
	depends = bc
	depends = usbutils
	depends = ntfs-3g
	depends = intel-gpu-tools
	depends = arandr
	depends = xkb-switch
	depends = xorg-xev
	depends = flameshot
	depends = smartmontools
	depends = acpi
	depends = xdg-user-dirs
	depends = man-db
	depends = man-pages
	depends = words
	depends = sdcv
	depends = zathura
	depends = zathura-pdf-poppler
	depends = zathura-djvu
	depends = zathura-ps
	depends = pdftk
	depends = diffpdf
	depends = chromium
	depends = inkscape
	depends = gimp
	depends = mpv
	depends = yt-dlp
	depends = mpd
	depends = mpc
	depends = ncmpcpp
	depends = neomutt
	depends = isync
	depends = notmuch
	depends = msmtp
	depends = simple-mtpfs
	depends = lynx
	depends = newsboat
	depends = urlscan
	depends = task-spooler
	optdepends = xournalpp-git: handwriting note taking
	optdepends = snore-git: stopwatch
	optdepends = translate-shell-git: command line translator
	optdepends = transmission-cli: torrent client
	optdepends = stig-git: ncurses torrent interface
	optdepends = pulseaudio: sound server
	optdepends = pulseaudio-alsa: alsa sink/source
	optdepends = alsa-utils: alsa mixer
	optdepends = pulseaudio-bluetooth: bluetooth sink/source
	optdepends = bluez-utils: bluetooth utilities
	optdepends = pavucontrol: pulseaudio mixer
	optdepends = pulsemixer: command line mixer
	optdepends = pamixer: command line mixer
	optdepends = texlive-basic: latex, pdflatex
	optdepends = texlive-bibtexextra: biblatex
	optdepends = texlive-binextra: latexindent
	optdepends = texlive-fontsextra
	optdepends = texlive-fontutils
	optdepends = texlive-langczechslovak
	optdepends = texlive-latexextra: latexmk
	optdepends = texlive-mathscience: siunitx
	optdepends = texlive-pictures: tikz
	optdepends = biber: biblatex backend
	optdepends = pplatex-git: pretty-print latex log
	optdepends = gnuplot: graphing/plotting utility
	optdepends = mathematica: symbolic computation system
	optdepends = telegram-desktop
	optdepends = realtime-privileges
	optdepends = libreoffice-fresh: office suite
	optdepends = cups: printing system
	optdepends = nano
	optdepends = vi
	optdepends = lostfiles: find files not owned by any package
	optdepends = namcap: package (PKGBUILD) analyzer
	optdepends = hyperfine: command-line benchmarking
	optdepends = inetutils: network utilities
	optdepends = smu: simple markup (suckless)
	optdepends = gsdjvu: pdf to djvu
	optdepends = obs-studio: screen recording
	optdepends = slop: select screen region (used for zoom effect)
	optdepends = screenkey: displays key presses (e.g. for screencasts)
	optdepends = wget: network downloader
	optdepends = figlet: large ascii letters
	optdepends = cmatrix: hack the matrix

pkgname = base-jdujava
