pkgbase = base-jdujava
	pkgdesc = Base package set of my custom Arch Linux installation
	pkgver = 1
	pkgrel = 6
	url = https://github.com/jdujava/AUR-jdujava
	arch = any
	license = GPL
	depends = xorg-server
	depends = xorg-xinit
	depends = xdg-utils
	depends = xorg-xbacklight
	depends = xorg-xinput
	depends = xorg-xrandr
	depends = xorg-xset
	depends = xorg-xdpyinfo
	depends = xorg-xwininfo
	depends = xdg-user-dirs
	depends = paru-bin
	depends = linux-firmware
	depends = booster
	depends = efibootmgr
	depends = systemd-boot-pacman-hook
	depends = smartmontools
	depends = acpi
	depends = cmake
	depends = xf86-video-intel
	depends = intel-media-driver
	depends = intel-ucode
	depends = xf86-input-wacom
	depends = iwd
	depends = ppp
	depends = networkmanager
	depends = network-manager-applet
	depends = ttf-sourcecodepro-nerd
	depends = ttf-dejavu
	depends = ttf-roboto
	depends = ttf-font-awesome
	depends = ttf-joypixels
	depends = dwm-jd-git
	depends = slstatus-jd-git
	depends = xwallpaper
	depends = picom-git
	depends = unclutter
	depends = slock
	depends = sxhkd
	depends = htop-vim
	depends = arc-gtk-theme
	depends = papirus-icon-theme
	depends = st-jd-git
	depends = zsh
	depends = dash
	depends = dashbinsh
	depends = dunst
	depends = libnotify
	depends = xpub
	depends = neovim-nightly-bin
	depends = python-pynvim
	depends = lf-git
	depends = dragon-drop-git
	depends = atool
	depends = zip
	depends = unzip
	depends = unrar
	depends = perl-file-mimeinfo
	depends = renameutils
	depends = ueberzug
	depends = ffmpegthumbnailer
	depends = imagemagick
	depends = mediainfo
	depends = chromium
	depends = pass
	depends = gnome-keyring
	depends = fzf
	depends = ripgrep
	depends = fd
	depends = bat
	depends = xdotool
	depends = xclip
	depends = xsel
	depends = clipmenu
	depends = rsync
	depends = bc
	depends = expac
	depends = intel-gpu-tools
	depends = wget
	depends = usbutils
	depends = ntfs-3g
	depends = arandr
	depends = xkb-switch
	depends = xorg-xev
	depends = flameshot
	depends = git
	depends = lazygit-git
	depends = diff-so-fancy
	depends = zathura
	depends = zathura-pdf-poppler
	depends = zathura-djvu
	depends = zathura-ps
	depends = pdftk
	depends = diffpdf
	depends = inkscape
	depends = gimp
	depends = lynx
	depends = man-db
	depends = man-pages
	depends = mpv
	depends = yt-dlp
	depends = mpd
	depends = mpc
	depends = ncmpcpp
	depends = words
	depends = sdcv
	depends = neomutt
	depends = isync
	depends = notmuch
	depends = msmtp
	depends = simple-mtpfs
	depends = newsboat
	depends = urlscan
	depends = task-spooler
	depends = tlp
	depends = throttled
	depends = powertop
	optdepends = xournalpp-git: handwriting note taking
	optdepends = snore-git: stopwatch
	optdepends = translate-shell-git: command line translator
	optdepends = transmission-cli: torrent client
	optdepends = stig-git: ncurses torrent interface
	optdepends = mathematica
	optdepends = pulsemixer
	optdepends = pulseaudio
	optdepends = pulseaudio-alsa
	optdepends = alsa-utils
	optdepends = pulseaudio-bluetooth
	optdepends = bluez-utils
	optdepends = pavucontrol
	optdepends = pamixer
	optdepends = slop
	optdepends = screenkey
	optdepends = texlive-basic
	optdepends = texlive-bibtexextra
	optdepends = texlive-binextra
	optdepends = texlive-fontsextra
	optdepends = texlive-fontutils
	optdepends = texlive-langczechslovak
	optdepends = texlive-latexextra
	optdepends = texlive-mathscience
	optdepends = texlive-pictures
	optdepends = biber
	optdepends = pplatex-git
	optdepends = vi
	optdepends = pacman-contrib
	optdepends = telegram-desktop
	optdepends = realtime-privileges
	optdepends = libreoffice-fresh
	optdepends = cups
	optdepends = obs-studio
	optdepends = npm
	optdepends = nmap
	optdepends = ninja
	optdepends = gnuplot
	optdepends = gsdjvu
	optdepends = gtksourceview4
	optdepends = hyperfine
	optdepends = inetutils
	optdepends = lostfiles
	optdepends = namcap
	optdepends = nano
	optdepends = vi

pkgname = base-jdujava
